# requires python 3.10

casadi==3.6.7
matplotlib==3.7.1
numpy==1.24.4
pygame==2.4.0
scipy==1.15.2
spatialmath-python==1.1.14
pyserial==3.5
rospkg==1.6.0
roboticstoolbox-python==1.1.1
crc==7.1.0      # for BotaSense One Force Torque sensor

# for plotting scripts
pycryptodomex==3.22.0
python-gnupg==0.5.4
